* text=auto
*.md text eol=lf
*.json text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.cff text eol=lf
*.txt text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
SHA256SUMS text eol=lf
LICENSE text eol=lf
NOTICE text eol=lf
